{% extends 'layout.html' %}

{% block content %}
<h3>Register form</h3>
<form method="POST" action="/reset-password">
    {{ form.csrf_token }}

    <div class="input">
        <label for="password">New password</label>
        <input type="password" value="{{form.password.data if form.password.data}}" name="password" placeholder="Put your password here">
        {% for error in form.password.errors %}
            <p class="info">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="input">
        <label for="confirm_password">Confirm new password</label>
        <input type="password" value="{{form.confirm_password.data if form.confirm_password.data}}" name="confirm_password" placeholder="Confirm your password">
        {% for error in form.confirm_password.errors %}
            <p class="info">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="input">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock content %}