{% extends 'layout.html' %}

{% block content %}
<h3>Add new post</h3>
<form method="POST" action="/add-post">
    {{ form.csrf_token }}

    <div>
        <label for="title">Title</label>
        <input type="text" value="{{form.title.data if form.title.data}}" name="title" placeholder="Title">
        {% for error in form.title.errors %}
            <p class="info">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        <label for="content">Content</label>
        <textarea value="{{form.content.data if form.content.data}}" name="content" placeholder="Your text goes here"></textarea>
        {% for error in form.content.errors %}
            <p class="info">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        <input type="checkbox" name="public" id="public-toggle">
        <label for="public-toggle">Public post</label>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock content %}