{% extends 'layout.html' %}

{% block content %}
<h3>Change password</h3>
    <form method="POST" action="/change-password">
        {{ form.csrf_token }}
        <div class="input">
            <label for="login">Login</label>
            <input type="text" value="{{form.login.data if form.login.data}}" name="login" placeholder="Put your login here">
            {% for error in form.login.errors %}
                <p class="info">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="input">
            <label for="password">Current password</label>
            <input type="password" value="{{form.password.data if form.password.data}}" name="password" placeholder="Put your current password here">
            {% for error in form.password.errors %}
                <p class="info">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="input">
            <label for="new_password">New password</label>
            <input type="password" value="{{form.new_password.data if form.new_password.data}}" name="new_password" placeholder="Put your new password here">
            {% for error in form.new_password.errors %}
                <p class="info">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="input">
            <label for="confirm_new_password">Confirm password</label>
            <input type="password" value="{{form.confirm_new_password.data if form.confirm_new_password.data}}" name="confirm_new_password" placeholder="Confirm your new password">
            {% for error in form.confirm_new_password.errors %}
                <p class="info">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="input">
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock content %}