<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400|Roboto+Slab:300,400&display=swap"
        rel="stylesheet">
    <title>SAFETY FIRST - a (very) secure microblog</title>
</head>

<body>
    <nav>
        {% if user and user.is_authenticated %}
        <ul>
            <li>Hello, {{user.login}}</li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/add-post">Add new post</a></li>
            <li><a href="/change-password">Change password</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/login">Log in</a></li>
            <li><a href="/new-account">Register</a></li>
        </ul>
        {% endif %}
    </nav>

    <header>
        <h1><a href="/">SAFETY FIRST</a></h1>
        <h2>...a (very) secure microblog</h2>
    </header>
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
    <footer>
        <p class="info">by Monika Osiak, 291094, Ochrona danych w systemach informatycznych 2019Z, WE PW</p>
    </footer>
</body>

</html>