{% extends 'layout.html' %}

{% block content %}
{% if posts %}
    {% for post in posts %}
        {% if post.public or (not post.public and post.author == user) %}
        <div class="post">
            <h4>{{ post.title }}</h4>
            {% if not post.public %}
            <p class="info">this is your private post</p>
            {% endif %}
            <p>{{ post.content }}</p>
        </div>
        {% else %}
        <div class="post">
            <p class="info">This post is private and cannot be displayed.</p>
        </div>
        {% endif %}
    {% endfor%}
{% else %}
<div class="post">
    <p class="info">This user doesn't have any notes yet.
</div>
{% endif %}
{% endblock content %}